.informacao_pagina{
	background: rgba(122,121,128,1);
	border: 1px;
	height: 50px;
	width: 100%;
}

.titulo_pagina{
	color: #bdbcc0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 50px;
	text-align: center;
}

.table{
	margin-top: 20px;
}